
<!-- Injecting the p tags into the list.ejs file. Each of them is an value from the objectives object array-->
<p><%= objectives.name %></p>
<p><%= objectives.launchDate %></p>
<p><%= objectives.operator %></p>
<p><%= objectives.missionType %></p>